<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
    The door is <%= @status %>
    <br>
    <br>
    <%= link_to "Link to toggle morning notifications: ", edit_toggle_morning_notification_url(@user.toggle_token, email: @user.email) %>
    </p>
  </body>
</html>