<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
    The door is <%= @status %>
    <br>
    <br>
    <%= link_to "Link to toggle notifications: ", 
        edit_toggle_notification_url(id: @user.toggle_token, user_id: @user.id) %>
    </p>
  </body>
</html>