<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
    The warning for the door being <%= @warning.status %> was resolved by <%= @resolved_by %>
    </p>
  </body>
</html>