<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
    This is a test email showing <%= @status %>, sent at <%= @timestamp %> PST
    <br>
    <br>
    <%= link_to "Link to toggle notifications: ", edit_toggle_notification_url(@user.toggle_token, email: @user.email) %>
    </p>
  </body>
</html>